@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Epilogue";
    src: url("/portfolio/fonts/Epilogue/Epilogue.woff2");
    font-weight: 400 800;
    font-style: normal;
}

html,
body,
#__next {
    padding: 0;
    margin: 0;
    height: 100%;
    @apply tw-bg-gray-800;
}

/* Global elements */
* {
    box-sizing: border-box;
}

h1 {
    @apply tw-font-extrabold tw-text-3xl tw-text-gray-800;
}

h2 {
    @apply tw-font-bold tw-text-2xl tw-text-gray-800;
}

h3 {
    @apply tw-font-bold tw-text-xl tw-text-gray-800;
}

text-xs {
    font-size: 0.1rem;
    line-height: 1rem;
}

.transition-slow {
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}
.transition-width {
    /* transition-property: width; */
    transition: all ease 3s;
}

.has-tooltip {
    position: relative !important;
}

@layer components {
    .tooltip {
        @apply tw-absolute tw-invisible tw-hidden;
        @apply tw-opacity-0 tw-transition-opacity;
        @apply tw-bg-gray-600 tw-text-gray-300 tw-rounded-sm tw-shadow-lg tw-font-bold;
        @apply tw-px-2 tw-py-2 tw-text-center;
        @apply tw-z-50;
    }
}

.tooltip-right {
    @apply tooltip;

    top: 50%;
    left: 128%;

    transform: translate(0%, -50%);
}
.tooltip.tooltip-left {
    top: 50%;
    right: calc(128% + 3px);
    /* margin-left: 5em; */

    transform: translate(0%, -50%);
}

.tooltip::after {
    @apply tw-border-r-8 tw-border-gray-600;

    content: "";

    position: absolute;
    top: 50%;
    left: -10px;
    transform: translate(-50%, -50%);

    border-top: solid 8px transparent;
    border-bottom: solid 8px transparent;
}
.tooltip.tooltip-right::after {
    border-width: 0;
    @apply tw-border-r-8;

    top: 50%;
    left: -3px;

    border-top: solid 8px transparent;
    border-bottom: solid 8px transparent;
}
.tooltip.tooltip-left::after {
    border-width: 0;
    @apply tw-border-l-8;

    top: 50%;
    left: calc(100% + 3px);

    border-top: solid 8px transparent;
    border-bottom: solid 8px transparent;
}

.has-tooltip:hover .tooltip {
    @apply tw-visible tw-block tw-z-50;
    @apply tw-opacity-100;
}

main * {
    color: inherit;
}

/* End global elements */

/* sidebar elements */


/* End sidebar elements */

.badge:last-of-type {
    margin-right: 0 !important;
}

#card,
#projects {
    z-index: 1;
}

#card:hover {
    /* @apply tw-transition-transform; */
    transform: scale(1.02);
}

.hero .streamline {
    height: calc(100% - 5.8em - 3rem - 2rem);
    width: calc(35% - 3.5rem);
}
.hero .streamline::after {
    content: "";
    width: 1em;
    height: 1em;

    @apply tw-border-yellow-500 tw-border-2 tw-shadow-lg;
    @apply tw-bg-gray-800;


    position: absolute;
    bottom: -.5em;
    right: -.5em;
}
.anchors {
    margin-right: 35%;
}
